*{
    padding: 0px;
    margin: 0px;
}
#navbar{
    display: flex;
    position: sticky;
    top: 0px;
    left: 0px;
    

}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 97%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
.item{
    list-style: none;
    margin-top: 1.5rem;
    margin-left: 5.5rem;

    
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    
    
}
ul{
    display: flex;
}
a:hover{
color: whitesmoke;
border: 2px;
border-radius: 9px;
background: black;
}
/* ye navigation bar k liye tha  */

#home{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
#home::before{
    content: "";
    background: url('../bg.jpg') center center/ cover no-repeat;
    position : absolute;
    top : 0px;
    left : 0px;
    
    height : 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
.btn{
    margin: 0rem 35rem;
    padding: 3px;
    border: 1px solid black;
    background-color: burlywood;
}
